
<% if form_switch == "ticket" %>
  <div class="ticket-form">
    <div class="ticket-form-switch">
      <%= button_to "メッセージ",
        {controller: 'teams', action: 'room'},
        {method: :post, params: {form_switch: 'message'}}
      %>
    </div>

    <%= form_with(model: [team,  ticket], local: true) do |f| %>
      <div class="ticket-form-taitl">
        <%= f.text_field :subject, :placeholder => "タイトル" %>
      </div>
      <div class="ticket-form-content">
        <%= f.text_area :content, :placeholder => "" %>
      </div>
      <div class="ticket-form-image">
        <%= f.file_field :image %>
      </div>
      <%= f.hidden_field :team_id, :value => team.id %>
      <div class="ticket-form-header">
        <%= f.submit '投稿する' %>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="message-form">
    <div class="ticket-form-switch">
      <%= button_to "チケット",
        {controller: 'teams', action: 'room'},
        {method: :post, params: {form_switch: 'ticket'}}
      %>
    </div>

    <%= form_with(model: [team,  team_message], local: true) do |f| %>
      <div class="message-form-text">
        <%= f.text_area :text %>
      </div>
      <%= f.hidden_field :team_id, :value => team.id %>
      <div class="message-form-post">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
<% end %>
  