<div class="main teams-index">
  <div class="container">
    <div class="teams-show-title">
      <li><%= @team.name %></li>
      <div class="teams-show-change">
        <div class="teams-show-change-box">
          <%= link_to "メンバーを招待" %>
        </div>
        <div class="teams-show-change-box">
          <%= link_to "チームを作成", new_team_path %>
        </div>
      </div>
    </div>

    <% @members.each do |m| %>
      <div class="teams-show-members">
        <img src='<%= "/user_images/#{m.user.user_image}" %>'>
        <li><%= link_to(m.user.name, "/users/#{m.user.id}") %></li>
      </div>
    <% end %>
  </div>
</div>
