<div class="main teams-index">
  <div class="container">
    <div class="teams-show-title">
      <li><%= @team.name %></li>
      <div class="teams-show-change">
        <div class="teams-show-change-box">
          <%= link_to "メンバーを招待" %>
        </div>
        <div class="teams-show-change-box">
          <%= link_to "チームを作成", new_team_path %>
        </div>
      </div>
    </div>

    <div class="team-show-line">
      <div class="line1"></div>
    </div>

    <% @members.each do |m| %>
      <div class="teams-show-members">
        <img src='<%= "/user_images/#{m.user.user_image}" %>'>
        <li><%= link_to(m.user.name, "/users/#{m.user.id}") %></li>
      </div>
    <% end %>

    <div class="team-show-line">
      <div class="line1"></div>
    </div>

    <div class="users-show-ticket">
      <div class="users-show-ticket-no">No.</div>
      <div class="users-show-ticket-category">カテゴリ</div>
      <div class="users-show-ticket-subject">タイトル</div>
      <div class="users-show-ticket-name">作成者</div>
      <%# <div class="users-show-ticket-status">ステータス</div> %>
      <div class="users-show-ticket-updated">更新日</div>
    </div>

    <% @tickets.each do |ticket| %>
      <div class="users-show-ticket">
        <div class="users-show-ticket-no">
        <%= ticket.id %>
        </div>

        <div class="users-show-ticket-category">
        </div>

        <div class="users-show-ticket-subject">
          <%= link_to(ticket.subject, "/tickets/#{ticket.id}") %>
        </div>

        <div class="users-show-ticket-name">
          <%= link_to(ticket.user.name, "/users/#{ticket.user.id}") %>
        </div>

        <%# <div class="users-show-ticket-status">
        </div> %>

        <div class="users-show-ticket-updated">
          <%= ticket.updated_at %>
        </div>
      </div>
    <% end %>
  </div>
</div>
