<div class="main user-show">
  <div class="container">
    <div class="user-show">
      <img src= '<%= "/user_images/#{@user.user_image}" %>'>
      <div class="user-show-name">
        <%= @user.name %>
      </div>
      <div class="user-sho-total-point">
        <a><%= "70P" %></a>
      </div>
      <div class="user-show-profile">
        <%= @user.profile %>
      </div>

      <% if @user.id == @current_user.id && !@user.guest? %>
        <div class="user-show-edit">
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        </div>
        <div class="user-show-delete">
        <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: 'このアカウントを削除します。この操作は取り消せません。よろしいですか？' }, class: "btn-red inline-block py-2 px-4" %>
        </div>
      <% end %>

      <% if @user.id == @current_user.id %>
      <% else %>
        <div class="user-show-dm">
          <% if @isRoom == true %>
            <a href="/rooms/<%= @roomId %>">チャットへ</a>
          <% else %>
            <div class="chat-wrapper">
              <%= link_to(rooms_path(user_ids: [@current_user.id, @user.id]), method: :ticket) do %>
                <div class="chat-btn">
                  <a class="chat-p">チャットを始める</a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="user-show-line">
      <div class="line1"></div>
    </div>

    <div class="member-achievement">
      <div class="ticket-categorie">
        <ul>カテゴリ</ul>
        <p>共通</p>
        <p>環境・設備</p>
        <p>組織</p>
        <p>案件</p>
        <p>手順・ナレッジ</p>
        <p>働き方</p>
        <p>教育</p>
      </div>

      <div class="ticket-categorie">
        <ul>件数</ul>
        <li>1</li>
        <li>2</li>
        <li>2</li>
        <li>4</li>
        <li>1</li>
        <li>5</li>
        <li>1</li>
      </div>

      <div class="ticket-categorie">
        <ul>ポイント</ul>
        <li>2</li>
        <li>4</li>
        <li>3</li>
        <li>4</li>
        <li>2</li>
        <li>6</li>
        <li>3</li>
      </div>

      <div class="ticket-categorie">
        <ul>トータル</ul>
        <li>2</li>
        <li>4</li>
        <li>3</li>
        <li>4</li>
        <li>2</li>
        <li>6</li>
        <li>3</li>
      </div>
    </div>

    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @ticket.each do |p| %>
      <div class="tickets-index-item">
        <div class="ticket-left">
          <img src='<%= "/user_images/#{p.user.user_image}" %>'>
        </div>
        <div class="ticket-right">
          <div class="ticket-user-name">
            <%= link_to(p.user.name, "/users/#{p.user.id}") %>
          </div>
          <div class="user-show-overflow-wrap">
            <%= link_to(p.content, "/tickets/#{p.id}") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
