<div class="main room-show">
  <div class="container">
    <h3>ダイレクトメッセージ</h3>
    <div class="room-show-line">
      <div class="line1"></div>
    </div>
    <% if @messages.present? %>
      <% @room_users.each do |r| %>
      <div class="room-c">
        <div class="room-c-user">
          <img src='<%= "/user_images/#{r.user.user_image}" %>'>
        </div>
        <div class="room-c-user-name">
          <%= link_to(r.user.name, "/users/#{r.user.id}") %>
        </div>
        <div class="room-c-timestamp">
          <a data-stringify-type= r.created_at %>
          <%= r.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        <div class="overflow-wrap">
          <%= r.text %>
          <div class="room-c-menus">
            <% if r.user_id == @current_user.id %>
              <%= link_to "削除", room_message_path(@room, r), method: :delete %>
            <% end %>
          </div>
        </div>
        <div class="room-show-line">
          <div class="line1"></div>
        </div>
      </div>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>

    <%= form_with(model: [@room,  @message], local: true) do |f| %>
      <div class="form-footer">
        <%# <div class="form-body"> %>
          <%= f.text_field :text, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する" %>
        <%# </div> %>
      </div>
    <% end %>
  </div>
</div>
