<div class="main room-show">
  <div class="container">
    <h3>
      <% @not_current_room_user.each do |not_current| %>
        <div class="room-c-user-name">
          <%= link_to(not_current.user.name, "/users/#{not_current.user.id}") %>
        </div>
      <% end %>
    </h3>
    <br>
    <% if @room_user.present? %>
      <% @message_users.each do |m_user| %>
      <div class="room-show-line">
        <div class="line1"></div>
      </div>
      <div class="room-c-user">
        <img src='<%= "/user_images/#{m_user.user.user_image}" %>'>
      </div>
      <div class="room-c-user-name">
        <%= link_to(m_user.user.name, "/users/#{m_user.user.id}") %>
      </div>
      <div class="room-c-timestamp">
        <a data-stringify-type= r.created_at %>
        <%= m_user.created_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div class="overflow-wrap">
        <%= m_user.text %>
        <div class="room-c-menus">
          <% if m_user.user_id == @current_user.id %>
            <%= link_to "削除", room_message_path(@room, m_user), method: :delete %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
    <%= form_with(model: [@room,  @message], local: true) do |f| %>
      <div class="c-form">
        <%= f.text_field :text, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
</div>
