<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
      <div class="form">
        <div class="form-body">

          <% @post.errors.full_messages.each do |p| %>
            <div class="form-error">
              <%= p %>
            </div>
          <% end %>
          <%= form_with model: @post, local: true do |f| %>
            <%= f.label "新規投稿" %>
            <%= f.text_area :content %>
            <%= f.file_field :image %> 
            <%= f.submit '投稿する' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
