<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.user_image}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
      <div class="overflow-wrap">
        <%= @post.content %>
      </div>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @likes %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>

      <%= @likes_count %>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to "編集", edit_post_path(@post.id) %>
          <% # deleteの場合はlink_toが使えないため、button_toにする %>
          <%= button_to "削除", post_path(@post.id),method: "delete" %>
        </div>
      <% end %>
    </div>

    <div>
      <%= image_tag @post.image.variant(resize: "570x570") if @post.image.attached? %>
    </div>

    <% @comments.each do |c| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src='<%= "/user_images/#{c.user.user_image}" %>'>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(c.user.name, "/users/#{c.user.id}") %>
          </div>
        </div>
        <div class="overflow-wrap">
          <%= c.comment_text %>
          <div class="post-menus">
            <% if c.user_id == @current_user.id %>
              <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_area :comment_text %>
          <%= f.submit 'コメントを投稿する' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
