
<nav class="menu">
  <ul>
    <li><%= link_to @current_user.name, user_path(@current_user.id) %></li>
    <li><%= link_to "チームを作成", new_team_path %></li>
    <%# link_to("チーム", "/users/#{@current_user.id}/teams") %>

    <p><a>▼ チーム</a></p>
    <div class="subtitle">
      <% members.each do |my_team| %>
        <li><%= link_to(my_team.team.name, "/teams/#{my_team.team.id}") %></li>
      <% end %>
    </div>

    <div class="menuline">
      <div class="line1"></div>
    </div>

    <p><a>▼ トークルーム</a></p>
    <div class="subtitle">
      <% members.each do |my_team| %>
        <li><%= link_to(my_team.team.name, "/rooms/#{my_team.team.room_id}") %></li>
      <% end %>
      <% not_team_members.each do |r| %>
        <li><%= link_to(r.user.name, "/rooms/#{r.room.id}") %></li>
      <% end %>
    </div>
    <br>
    <li><%= link_to "ユーザー一覧", users_path %></li>
    <li><%= link_to "投稿一覧", tickets_path %></li>
    <li><%= link_to "新規投稿", new_ticket_path %></li>
  </ul>
</nav>
