<!DOCTYPE html>
<html>
  <head>
    <title>CaianApp</title>
    # <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%=link_to("Caian","/top")%>
      </div>

      <ul class="header-menus">
        <%=link_to("Caianとは","/about")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("投稿","/posts/index")%>
      </ul>

      <ul class="header-menus">
        <%=link_to("新規投稿","/posts/new")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("チケット一覧","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("チケット追加","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("チャート","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("マイページ","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("お気に入り","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("ユーザー登録","/top")%>
      </ul>
      
      <ul class="header-menus">
        <%=link_to("設定","/top")%>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
