<!DOCTYPE html>
<html>
  <head>
    <title>CaianApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <header>
      <div class="sidebartag">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <div class="header-logo">
        <% if @current_user %>
          <%= link_to "Caian", tickets_path %>
        <% else %>
          <%= link_to "Caian", top_path %>
        <% end %>
      </div>
    </header>

    <div class="sidebar">
      <%= render partial: 'layouts/sidebar' %>
    </div>

    <!-- エラーになるので、コメントアウトしています -->
    <!--
    <div class="sidebar">
      <%= render partial: 'layouts/sidebar', locals: { teams: @teams }%>
    </div>
    -->

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
